<!-- Este es el NavBar lateral que se encuentra escondida para Mobile -->
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="smooth-scroll" href="#Header"></a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#page-top">Inicio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#About">Servicios</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Services">Planes</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Portfolio">Testimonios</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Testimonials">Contáctanos</a>
    </li>
  </ul>
</nav>
