<section id="Banner" class="content-section">
  <div class="container content-wrap text-center">
    <div class="row">
      <div class="col">
        <h1 class="main-title">Controla tu negocio con ActiveWare</h1>
      <h3>
          <em>ActiveWare te ayuda a llevar el control de tu negocio por medio de todas las herramientas que tenemos a disposición para ti.</em>
        </h3>
      <!-- <a class="btn btn-primary btn-xl smooth-scroll" href="#About">Pruébalo Gratis</a> -->
      <button class="call-to-action">Pruébalo Gratis</button>
      </div>
      <div class="col">
        <img src="../../../assets/main-img.png" alt="">
      </div>
    </div>

    <div class="overlay"></div>

  </div>

</section>
