<section class="e-commerce">
  <div class="container-ecommerce">
    <div class="row-image">
      <img class="ilustration" [src]="rowImage" alt="Ilustración">
    </div>
    <div class="row-description">
      <h3 class="title-ecommerce"> Construye una Presencia Online Única</h3>
      <ul class="list-ecommerce">
      <li class="description-ecommerce"><span class="left-arrow"></span>Dominio Personalizado</li>
      <li class="description-ecommerce"><span class="left-arrow"></span>Plantillas Exclusivas</li>
      <li class="description-ecommerce"><span class="left-arrow"></span>Carrito de Compras</li>
      <li class="description-ecommerce"><span class="left-arrow"></span>Pasarelas Separadas</li>
      <li class="description-ecommerce"><span class="left-arrow"></span>Inventario Sincronizado</li>
      <li class="description-ecommerce"><span class="left-arrow"></span>Redes Sociales</li>
      </ul>
    </div>
  </div>
</section>

